
<h1>{{getProducts.length}}</h1>
<div class="cards">
    <div class="card" style="width: 18rem;" *ngFor="let product of getProducts" >
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Price {{discountPrice(product)|currency:'usd':true}}  Discount: {{product.discount}}%</p>
          <p class="card-text">Original Price: {{product.price}}</p>
          <button (click)="remove(product.id);" class="btn btn-outline-danger">Remove</button>
        </div>
      </div>


      <div class="card" style="width: 18rem;"  >
        <div class="card-body">
          <h5 class="card-title">New Product</h5>
          <label for="newProductName">Name</label>
          <input type="text" required [formControl]="name" [(ngModel)]="newProduct.name" name="newProductName" class="form-control"/>
          <p class="text-danger" *ngIf="name.dirty && name.invalid && name.errors?.['required']">
            You must enter name
          </p>
          <label for="newProductPrice">Price</label>
          <input type="number" required [formControl]="price" [(ngModel)]="newProduct.price" name="newProductPrice" class="form-control"/>
          <p class="text-danger" *ngIf="price.dirty && price.invalid && price.errors?.['required']">
            You must enter price
          </p>
          <label for="newProductDiscount">Discount for this product</label>
          <input type="number" required [formControl]="discount" [(ngModel)]="newProduct.discount" name="newProductDiscount" class="form-control"/>
          <p class="text-danger" *ngIf="discount.dirty && discount.invalid && discount.errors?.['required']">
            You must enter discount
          </p>
          <button (click)="saveProduct()" [disabled]="name.invalid || price.invalid || discount.invalid" class="btn btn-outline-primary">Add</button>
        </div>
      </div>
</div>